*{
    box-sizing: border-box;
    margin:0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
}

/*index*/
.text{
    margin: auto;
    padding-top:min(23%,246px);
    padding-right:min(28%,533px);
    padding-left: min(11%,211px);
}
.header{
    background-color: rgba(255,255,255, 0.6);
    height: 100vh;
    width: 100vw;
}
.bg-image{
    z-index: -1;
    position: absolute;
    background: url('patrick-tomasso-Oaqk7qqNh_c-unsplash 1.png');
    filter: blur(5px);
    width: 100%;
    height: 100%;
}

.text h1 {
    font-weight: 900;
    font-size: 96px;
    line-height: 112px;
    
    color: #000000;
}

.text p {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    max-width: 1176px;
    height: 227px;
    left: 211px;
    top: 360px;

    color: #000000;
    
}

.login{
    margin: auto;
    margin-top: 60px;
    width: 441px;
    height: 169px;
    left: 739px;
    top: 647px;
    
    padding-top: 60px;
}

.login a{
    padding: 66px 173px;
    height: 169px;
    background: #367D5D;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-decoration: none;
    color: #FFFFFF;
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.25);
}
/*login*/
.login-container{
    background-color: #ffffff;
    align-items: center;
    margin-top: min(13%,140px);
    margin-bottom: min(13%,140px);
    margin-left: min(27%,525px);
    margin-right: min(27%,525px);
    padding: 71px 150px;
    width: 870px;
    height: 800px;
    left: 525px;
    top: 140px;
    text-align:center;
}
.login-container p{
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 89px ;
    color: #000000;
}
.register a{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #000000;

}

.login-container input{
    width: 569px;
    height: 96px;
    left: 676px;
    top: 540px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding-left: min(10%,59px);
    margin-bottom: 88px;
    border-style: none;
    background: #F7F7F7;
}

.login-container button[type=submit]{
    width: 270px;
    height: 96px;
    left: 825px;
    top: 725px;
    background: #367D5D;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 25px;
}


::placeholder{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;

}
/*register*/
.reg-container{
    background-color: #ffffff;
    align-items: center;
    margin-top: min(13%,140px);
    margin-bottom: min(13%,140px);
    margin-left: min(27%,525px);
    margin-right: min(27%,525px);
    padding: 71px 150px;
    width: 870px;
    height: 800px;
    left: 525px;
    top: 140px;
    text-align:center;
}
.reg-container p{
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 50px ;
    color: #000000;
}

.reg-container input{
    width: 569px;
    height: 96px;
    left: 676px;
    top: 540px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding-left: min(3%,21px);
    margin-bottom: 16px;
    border-style: none;
    background: #F7F7F7;
}

.reg-container button[type=submit]{
    width: 270px;
    height: 96px;
    left: 825px;
    top: 725px;
    background: #367D5D;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 25px;
    margin-top: 34px;
}
/*kerja*/
.title-bar{
    background: #367D5D;
    width: 100vw;
    height: 424px;
    position: relative;
}
.navbar ul{
    display: flex;
    float: right;
}

.navbar li{
    list-style: none;
    margin-left: 75px;
    margin-top: 29px;
}
.navbar li a{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
    text-decoration: none;
}
.uname{
    padding: 29px 36px;
    background: #151515;
}
.title-bar h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 144px;
    line-height: 176px;
    white-space: nowrap;
    height: 144px;
    margin-left: 75px;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
}

.kerja-container{
    background: #fff;
    height: 100%;
    width: 100vw;
}
.kerja-container p{
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    padding-top: 65px;
    margin-left: 75px;
    margin-bottom: 92px;
    color: #000000;
}
.pekerjaan ul{
    display: flex;
    flex-wrap: wrap;
}
.pekerjaan li{
    list-style: none;
    margin: auto;
    cursor: pointer;
}
.kerjaa{
    background: #F7F7F7;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    height: 420px;
    width: 420px;
    margin-bottom: 57px;
}

.kerjaa p{
    flex: auto;
    margin: 0;
    padding-top:28px;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
}

img{
    display: block;
    margin: auto;
    margin-top: 37px;
    border-radius: 50%;
    width: 234px;
    height: 234px;
}
/*learn*/
.path-container{
    background: #fff;
    height: 100%;
    width: 100vw;
    padding-left: 75px;
    padding-right: 115px;
}
.content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 114px;
}

.path-container h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    color: #367D5D;
    padding-top:35px;
    padding-bottom: 99px;
}
.content img{
    margin: 0;
    margin-right: 180px;
}
.content h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

/* #151515 */

    color: #151515;
}
.content p{
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 27px;
    color: #000000;
}

.content a{
    padding: 11px 37px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #F7F7F7;
    background: #367D5D;
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}